    <h4 class="dotted">Users</h4>
    <div class="span8">
    <table class="table table-condensed table-users">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Registered</th>
          <th>Role</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td valign="middle"><%= link_to user.name, user %></td>
          <td valign="middle"><%= user.email %></td>
          <td valign="middle"><%= user.created_at.to_date %></td>
          <td valign="middle"><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
          <td valign="middle">
            <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-small btn-blue" type="button">Change role</a>
            <%= render user %>
          </td>
          <td valign="middle"><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-small btn-green') unless user == current_user %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
