<h1 class="text-center survey-title"><%= @survey.name %></h1>
<p class="small"><%= @survey.description %></p>


<%= simple_nested_form_for @survey do |s| %>
    <%= s.fields_for :questions do |f| %>
    <%= f.label :question_s %>
        <% if f.object.answer_type_value == "text" %>
            <%= f.fields_for :answers do |a| %>
                <%= a.hidden_field :user_id, :value => current_user.id %>
                <%= a.input :value_t, as: :text %>
            <% end %>
        <% elsif f.object.answer_type_value == "dropdown" %>
            <%= f.fields_for :answers do |a| %>
                <%= a.hidden_field :user_id, :value => current_user.id %>
                <%= a.association :answer_option, collection: a.object.question.answer_options.all, label_method: :value %>
            <% end %>
        <% elsif f.object.answer_type_value == "radio buttons" %>
            <%= f.fields_for :answers do |a| %>
                <%= a.hidden_field :user_id, :value => current_user.id %>
                <%= a.association :answer_option, collection: a.object.question.answer_options.all, label_method: :value, as: :radio_buttons %>
            <% end %>
        <% end %>

    <% end %>
    <%= s.button :submit, class: 'btn-success' %>
<% end %>