<%= render 'survey_incomplete' %>
<div class="survey-contain">
	<%= render 'user_survey' %>
	<p class="small" id="notice"><%= notice %></p>
</div>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
