<%= render 'survey_incomplete' %>
<%= render 'user_survey' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @survey.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>Img location:</strong>
  <%= @survey.img_location %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
