<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "RJM Pulse" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "RJM Pulse" %>">
    <link rel="shortcut icon" href="http://rjmetrics.com/ui/img/rjm-favicon.png" />
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "highcharts" %>
    <script type="text/javascript" charset="utf-8">
      $(function () {
        $('#orders_chart').highcharts({
            chart: {
                type: 'bar',
                backgroundColor: 'transparent'
            },
            title: {
              text: null
            },
            xAxis: {
                title: {
                    text: null
                },
                labels: {
                  enabled: false
                },
                lineWidth: 0,
                tickWidth: 0
            },
            yAxis: {
                min: 0,
                max: 1,
                title: {
                    text: null
                },
                labels: {
                  enabled: false
                },
                gridLineWidth: 0
            },
            legend: {
                backgroundColor: 'none',
                reversed: true,
                borderWidth: 0
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
                series: [{
                name: 'Always',
                data: [0.25]
            }, {
                name: 'Frequently',
                data: [0.25]
            }, {
                name: 'Frequently',
                data: [0.15]
            },{
                name: 'Frequently',
                data: [0.1]
            }, {
                name: 'Sometimes',
                data: [0.25]
            }]
        });
    });
    

    </script>
    <%= csrf_meta_tags %>
    <!-- Async TypeKit Code-->
  <script type="text/javascript">
    (function() {
      var config = {
        kitId: 'aik2kna',
        scriptTimeout: 3000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>
  </head>
  <body>
      <% if user_signed_in? %>
        <% if current_user.has_role? :admin %>
    <header>
        <%= render 'layouts/navigation' %>
    </header>
      <% end %>
    <% end %>
    
    <div role="main">
       <%= render 'layouts/messages' %>
       <div class="container">
        <div class="wrapper">
            <%= yield %>
          </div>
        </div>
    </div>
    <% if user_signed_in? %>
    <% else %>

    <div class="footer">
      <%= image_tag("dinosaur.svg", class:"dino") %>
      <div class="text-right">
        Powered by <%= image_tag("rjm-logo-sm.svg", class:"logo") %>
      </div>
    </div>
    <% end %>
  </body>
</html>
